version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: xodoz-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: xodoz
      MYSQL_USER: xodoz
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
